/*Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Menu configuração */

/* Fundo do Menu */
#menu-nav{
    width: 100%;
    height: 44px;
    background-color: rgb(51, 51, 51, 0.980);
    position: fixed;
}

/* Lista */
#menu-itens{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 73%;
    height: 44px;
    align-items: center;
    margin: auto;  
}

/* Link Clicável */
nav ul li a{
    text-decoration: none;
    color: #b2b2b8;
    transition-duration: 0.5s; /*Tempo de animação do hover */
    font-size: 14px;
}

/* Link Clicável:hover */
nav ul li a:hover{
    color: #F5F5F7;
}

.caixa-um{
    width: 100%;
    height: 44px;
    text-align: center;
    margin: auto;
    background-color: #f7f7f8fd;
    padding-top: 10px;
    font-size: 13.5px;
}

div span a{
    text-decoration: none;

}

#iphone13pro{
    width: 100%;
    height: 88vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/Img-div-um.jpg);
    background-size: cover;
    background-position: center;
}

.titulo{
    font-size: 55px;
    font-weight: 600;
    padding-top: 40px;
}

.subtitulo{
    font-size: 27px;
    font-weight:normal ;
}

.frase-complementar{
    font-size: 20px;
    color: grey;
}
.div-dois{
    text-decoration: none;
    font-size: 20px;
}

#iphone13{
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/img-div-dois.jpg);
    background-size: cover;
    background-position: center;
}

.titulo2{
    color: white;
    font-size: 55px;
    font-weight: 600;
    padding-top: 40px;
}

.subtitulo2{
    font-size: 25px;
    font-weight:normal ;
    color:rgb(235, 168, 201)
}

#smartwatch{
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/img-div-tres.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 10px;
}

#ipad{
    height: 80vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/ipad.jpg);
    background-size: cover;
    background-position: center;
}

#imac{
    height: 80vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/imac-fundo.jpg);
    background-size: cover;
    background-position: center;
}

#fitness{
    height: 80vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/fitness.jpg);
    background-size: cover;
    background-position: center;
}

#tv{
    height: 80vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/tv2.jpg);
    background-size: cover;
    background-position: center;
}

.tv1{
    padding-top: 320px;   
}

#rodape{
    height: 500px;
    width: 100%;
    background-color: #F5F5F7;
    display: flex;
    align-items: center;
}