/*Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow-x: hidden;
}

/* Menu configuração */

/* Fundo do Menu */
#menu-nav{
    width: 100%;
    height: 44px;
    background-color: rgb(51, 51, 51, 0.980);
    position: fixed;
}

/* Lista */
#menu-itens{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 73%;
    height: 44px;
    align-items: center;
    margin: auto;  
}

/* Link Clicável */
nav ul li a{
    text-decoration: none;
    color: #b2b2b8;
    transition-duration: 0.5s; /*Tempo de animação do hover */
    font-size: 14px;
}

/* Link Clicável:hover */
nav ul li a:hover{
    color: #F5F5F7;
}

.caixa-um{
    width: 100%;
    height: 44px;
    text-align: center;
    margin: auto;
    background-color: #f7f7f8fd;
    padding-top: 10px;
    font-size: 13.5px;
}

div span a{
    text-decoration: none;

}

#iphone13pro{
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/Img-div-um.jpg);
    background-size: cover;
    background-position: center;
}

.titulo{
    font-size: 55px;
    font-weight: 600;
    padding-top: 40px;
}

.subtitulo{
    font-size: 27px;
    font-weight:normal ;
}

.frase-complementar{
    font-size: 20px;
    color: grey;
}
.div-dois{
    text-decoration: none;
    font-size: 19px;
}

.div-dois-margin{
    text-decoration: none;
    font-size: 19px;
    margin-left: 32px;
}

#iphone13{
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/img-div-dois.jpg);
    background-size: cover;
    background-position: center;
}

.titulo2{
    color: white;
    font-size: 55px;
    font-weight: 600;
    padding-top: 40px;
}

.subtitulo2{
    font-size: 25px;
    font-weight:normal ;
    color:rgb(235, 168, 201)
}

#smartwatch{
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/img-div-tres.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 10px;
}

#ipad{
    height: 80vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/ipad.jpg);
    background-size: cover;
    background-position: center;
    border: 7px solid white;
    border-top: 14px solid white;
    border-left: 14px;
}

.ipad1{
    padding-top: 40px;
}

.texto-principal{
    font-size: 20px;
    padding-top: 6px;
    line-height: 25px;
}

.texto-pequeno{
    font-size: 12.5px;
    color: grey;
    line-height: 7px;
}

#imac{
    height: 80vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/imac-fundo.jpg);
    background-size: cover;
    background-position: center;
    border: 7px solid white;
    border-top: 14px solid white;
}

.logo{
    padding-top: 40px;
}

.texto-imac{
    font-size: 20px;
}
#fitness{
    height: 80vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/fitness.jpg);
    background-size: cover;
    background-position: center;
    border: 7px solid white;
    border-bottom: 14px solid white;
    border-left: 14px;
    
}

.laranja{
    font-size: 13px;
    color: rgb(219, 144, 3);
    padding-top: 20px;
}

.fitness1{
    font-size: 20px;
    font-weight: 400;
}

#tv{
    height: 80vh;
    text-align: center;
    background-color: grey;
    background-image: url(../Img/tv2.jpg);
    background-size: cover;
    background-position: center;
    border: 7px solid white;
    border-bottom: 14px solid white;
    
}

.logo-tv{
    padding-top: 60px;

}

.tv1{
    padding-top: 365px;   
}

.tv{
    text-decoration:none;
}

.tv:hover{
    text-decoration: underline;
}

.coluna{
    font-size: 17px;
    text-decoration: none;
}

.coluna-um{
    font-size: 17px;
    text-decoration: none;
    margin-left: 27px;
}

#rodape{
    height: 600px;
    width: 100%;
    background-color: #F5F5F7;

    padding-top: 20px;
}

.row{
    width: 80%;
    margin: auto;
}

.coluna{
    font-size: 17px;
    text-decoration: none;
}

.coluna-um{
    font-size: 17px;
    text-decoration: none;
    margin-left: 27px;
}

li{
    list-style: none;
    font-size: 13px;
    line-height: 25px;
}

section footer .row .col-2 ul li a{
    text-decoration: none;
    color: #515154 ;
    font-size: 12.5px;
}

section footer .row .col-2 ul li a:hover{
    text-decoration: underline;
    color: #515154;
}

.negrito{
    font-size: 13px;
    color: #1d1d1f;
}

.rodape-dois{
    font-size: 13px;
    text-align: left;
    color: #86868B;
    text-decoration: none;
}

.rodape-link{
    color: #0066CC;
    text-decoration: none;
}

.rodape-dois:hover{
    text-decoration: underline;
    color: #0066CC;
}